<%= form_with model: @reservation, url: reservation_confirm_path, local: true do |f| %>
<div class="field">
	<%= f.label "チェックイン" %>
	<%= f.date_field :room_check_in, class: "input", required: true %>
</div>
<div class="field">
	<%= f.label "チェックアウト" %>
	<%= f.date_field :room_check_out, class: "input", required: true %>
</div>
<div class="field">
	<p>日数</p>
</div>
<div class="field">
  <%= f.label "予約人数" %>
  <%= f.number_field :number_of_reserve, class: "input", required: true %>
</div>

<div class="field">
  <%= f.hidden_field :room_id, value:@room.id %>
</div>
<div class="field">
	<%= f.hidden_field :user_id, value:current_user.id  %>
</div>

<%= f.submit "確認画面へ", class: "button is-success" %>
<% end %>
