<%= form_with model: @reservation, url: reservation_confirm_path, local: true do |f| %>
<div class="form-container">
	<div class="field">
		<%= f.label "チェックイン",class: "has-text-weight-bold" %>
		<%= f.date_field :room_check_in, class: "input", required: true %>
	</div>
	<div class="field">
		<%= f.label "チェックアウト",class: "has-text-weight-bold" %>
		<%= f.date_field :room_check_out, class: "input", required: true %>
	</div>
	<div class="field">
		<%= f.label "予約人数",class: "has-text-weight-bold" %>
		<%= f.number_field :number_of_reserve, class: "input", required: true %>
	</div>

	<div class="field">
		<%= f.hidden_field :room_id, value:@room.id %>
	</div>
	<div class="field">
		<%= f.hidden_field :user_id, value:current_user.id  %>
	</div>
</div>
<%= f.submit "確認画面へ", class: "button is-primary is-fullwidth is-medium has-text-weight-bold" %>
<% end %>
