<%= form_with model: @user,local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス", class: "label" %>
    <%= f.text_field :email, class: "input" %>
  </div>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "新しいパスワードを入力してください" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認のため新しいパスワードを入力してください" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>


  <%= f.submit "更新", class: "button is-success" %>
<% end %>


