<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
<% if @user.image.attached? %>
  <%= image_tag @user.image.variant(resize: "100x100") %>
<% else %>
  <img src="https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" alt="画像がありません">
<% end %>
<%= form_with model: @user,local: true do |f| %>
  <div class="field">
			<%= f.file_field :image, class: "file-input button is-light" %>
			<i class="fas fa-upload"></i>&nbsp;&nbsp;&nbsp; 画像アップロード
  </div>
    <div class="field">
    <%= f.label :username, "ユーザー名", class: "label" %>
    <%= f.text_field :username, class: "input" %>
  </div>
  <div class="field">
    <%= f.label :profile, "プロフィール", class: "label" %>
    <%= f.text_area :profile, class: "textarea" %>
  </div>


  <%= f.submit "更新", class: "button is-success" %>
<% end %>

