<div class="container">
	<h2 class="detail">設定</h2>
	<div class="table-container">
		<table class="table-left">
		<tbody>
			<tr>
				<td><%= link_to "アカウント", user_acount_path, class: "link-design"%></td>
			</tr>
			<tr>
				<td><%= link_to "プロフィール", user_path(current_user), class: "link-design" %></td>
			</tr>
		</tbody>
		</table>

		<table class="table is-fullwidth">
		<tbody>
			<tr>
				<td>プロフィール</td>
				<td>
				<%= link_to edit_user_path do %>
					<span class="icon">
						<i class="fas fa-pen"></i>
					</span>
						編集
				<% end %>
				</td>
			</tr>
			<tr>
				<td style="border-bottom: none;">アイコン画像</td>
				<td style="border-bottom: none;">
					<% if current_user.image %>
					<% if current_user.image.attached? %>
						<%= image_tag current_user.image, class:"user-icon"%>
					<% else %>
						<%= image_tag 'no-image.png'%>
					<% end %>   
				<% end %>   
				</td>
				</td>
			</tr>
			<tr>
				<td>名前</td>
				<td><%= current_user.username %></td>
			</tr>
					<tr>
				<td>自己紹介</td>
				<td><%= current_user.profile %></td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
