<div class="first-view">
  <div class="container">
    <h2 class="first-view_title">
      Potepan Shareで<br>
      まだ体験のしたことない<br>
      旅をしよう<br>
    </h2>  
    <%= render '/devise/shared/search_form' %>
  </div>
</div>  
<div class="area-container">
  <div class="area-title">
    <h2>おすすめのエリア</h2>
  </div>
    <div class="recommend-areas">
      <div class= "area">
        <%= link_to rooms_searches_path(area: '東京都'), class: "area-link tokyo" do%>
          <p>
            <i class="fas fa-map-marker-alt">Tokyo</i>
          </p>
          <span class="link-name">東京都</span>
        <% end %>
      </div>
      <div class= "area">
        <%= link_to rooms_searches_path(area: '大阪'), class: "area-link osaka" do%>
          <p>
            <i class="fas fa-map-marker-alt">Osaka</i>
          </p>
          <span class="link-name">大阪</span>
        <% end %>
      </div>
      <div class= "area">
        <%= link_to rooms_searches_path(area: '京都'), class: "area-link kyoto" do %>
        <p>
            <i class="fas fa-map-marker-alt">Kyoto</i>
        </p>
        <span class="link-name">京都</span>
        <% end %>
      </div>
      <div class= "area">
        <%= link_to rooms_searches_path(area: '札幌'), class: "area-link sapporo" do%>
        <p>
            <i class="fas fa-map-marker-alt">Sapporo</i>
        </p>
        <span class="link-name">札幌</span>
        <% end %>
      </div>
  </div>
</div>  
<footer>
  <div class="container">
    <%= link_to root_path do %>
      <img class="footer-image" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="Potepan Share" >
    <% end %>
    <p>Copyright © Potepan Share 2023 All rights reserved</p>
  </div>
</footer>
