<div class="container">
	<div class="confirm-container">
		<h1>予約確認画面</h1>
		<!-- 表示する内容 -->
			<div class="field">
				<p>チェックイン:</p>
				<%= @reservation.room_check_in.strftime("%Y/%m/%d ") %>
			</div>
			<div class="field">
				<p>チェックアウト:</p>
				<%= @reservation.room_check_out.strftime("%Y/%m/%d ") %>
			</div>
			<div class="field">
				<p>宿泊日数:</p>
				<%= "#{@days}日" %>
			</div>
			<div class="field">
				<p>予約人数:</p>
				<%= "#{@reservation.number_of_reserve}人" %>
			</div>
			<div class="field">
				<p>合計金額:</p>
				<%= "¥#{@price.to_s(:delimited)}円" %>
			</div>

		<!-- 送信する内容 -->
		<%= form_with model: @reservation, local: true do |f| %>
		<div class="field">
			<%= f.hidden_field :room_check_in %>
		</div>
		<div class="field">
			<%= f.hidden_field :room_check_out %>
		</div>
		<div class="field">
			<%= f.hidden_field :number_of_reserve %>
		</div>
		<div class="field">
			<%= f.hidden_field :room_id, value: @reservation.room_id %>
		</div>
		<div class="field">
			<%= f.hidden_field :user_id, value: @reservation.user_id %>
		</div>
		<div class="send-field">
			<%= f.submit "予約を確定", class: "button is-success is-fullwidth is-large" %>
		<% end %>
			<%= link_to "キャンセル", :back, class: "button is-light is-fullwidth is-large" %>
		</div>
	</div>
</div>
<%= render '/devise/shared/footer' %>
